#logoHenry {
  margin-right: 20px;
}

.containerNav {
  height: 4rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: rgb(63, 58, 58);
  align-items: center;
}

.title {
  font-size: 4vh;
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.containerLinks {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-right: -5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 0.8rem;
}

.containerIcon {
 width: 5rem;
 margin-right: 2rem;
 margin-bottom: 1rem;
cursor: pointer;
}



a {
  text-decoration: none;
}

.searchBar {
  width: 15rem;
  border-radius: 0.2rem;
  outline: none;
  border-color: transparent;  
}

.buttonSub {
  width: 10rem;
  background-color: rgb(112, 146, 143);
}